<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <header><h1 style="position: relative;z-index: 5;">Film</h1></header>
        
    <div class="menu">
        <div class="b"><a href="indice" id="Indice">Indice</a></div>
        <div class="b"><a href="film" id="Film">Film</a></div>
        <div class="b"><a href="musica" id="Musica">Musica</a></div>
    </div>
    <h3>Qui ci sono i 10 film con il punteggio IMDb più alto</h3>
    <div class="tabella">
        <table>
            <tr >
                <th>1</th><th>Il padrino</th><th><a href="https://it.wikipedia.org/wiki/Il_padrino_(film)" target="_blank"><img  src="https://pad.mymovies.it/filmclub/2002/08/056/locandina.jpg" alt=""  ></a></th>
            </tr>
            <tr>
                <th>2</th><th>Schiendler's List</th><th><a href="https://it.wikipedia.org/wiki/Schindler%27s_List_-_La_lista_di_Schindler"target="_blank"><img src="https://pad.mymovies.it/filmclub/2006/02/315/locandina.jpg" alt=""></a></th>
            </tr>
            <tr>    
                <th>3</th><th>Il padrino - Parte II</th><th><a href="https://it.wikipedia.org/wiki/Il_padrino_-_Parte_II"target="_blank"><img src="https://pad.mymovies.it/filmclub/2006/08/048/locandinapg3.jpg" alt=""></a></th>
            </tr>
            <tr>
                <th>4</th><th>Il Signore degli Anelli - Il ritorno del re</th><th><a href="https://it.wikipedia.org/wiki/Il_Signore_degli_Anelli_-_Il_ritorno_del_re"target="_blank"><img src="https://m.media-amazon.com/images/I/81f2rBdsEZL._AC_UF1000,1000_QL80_.jpg" alt=""></a></th>
            </tr>
            <tr>
                <th>5</th><th>Pulp Fiction</th><th><a href="https://it.wikipedia.org/wiki/Pulp_Fiction"target="_blank"><img src="https://i.scdn.co/image/ab67616d0000b273e49c89a7fc51a391fdbda374" alt=""></a></th>
            </tr>
            <tr>    
                <th>6</th><th>Il Signore degli Anelli - La compagnia dell'Anello</th><th><a href="https://it.wikipedia.org/wiki/Il_Signore_degli_Anelli_-_La_Compagnia_dell%27Anello"target="_blank"><img src="https://pad.mymovies.it/filmclub/2002/01/011/locandina.jpg" alt=""></a></th>
            </tr>
            <tr>
                <th>7</th><th>Inception</th><th><a href="https://it.wikipedia.org/wiki/Inception"target="_blank"><img src="https://m.media-amazon.com/images/I/912AErFSBHL._AC_UF1000,1000_QL80_.jpg" alt=""></a></th>
            </tr>
            <tr>
                <th>8</th><th>Il buono, il brutto, il cattivo</th><th><a href="https://it.wikipedia.org/wiki/Il_buono,_il_brutto,_il_cattivo"target="_blank"><img src="https://m.media-amazon.com/images/I/81RQTuLE24L._AC_UF1000,1000_QL80_.jpg" alt=""></a></th>
            </tr>
            <tr>
                <th>9</th><th>Il Signore degli Anelli - Le due torri</th><th><a href="https://it.wikipedia.org/wiki/Il_Signore_degli_Anelli_-_Le_due_torri"target="_blank"><img src="https://pad.mymovies.it/filmclub/2003/01/012/locandina.jpg" alt=""></a></th>
            </tr>
            <tr>
                <th>10</th><th>Matrix</th><th><a href="https://it.wikipedia.org/wiki/Matrix"target="_blank"><img src="https://pad.mymovies.it/filmclub/2001/11/033/locandina.jpg" alt=""></a></th>
            </tr>
            
            
        </table>
    </div>
    <footer>
        Sito fatto da Bornia, Alex Bornia.
    </footer>
</body>
<script src="script.js"></script>

</html>