<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indice</title>
    <link rel="stylesheet" href="style.css">
  
</head>
<body>
    <header><h1>Indice</h1></header>
    <div class="menu">
        <div class="b"><a href="indice" id="Indice">Indice</a></div>
        <div class="b"><a href="film" id="Film">Film</a></div>
        <div class="b"><a href="musica" id="Musica">Musica</a></div>
    </div>
    <h3>Clicca su Film o Musica per scoprire le classifiche</h3>
    <script src="script.js"></script>
    <footer style="position : absolute;bottom : 0;width: 100%;padding-left: 0;" >
        Sito fatto da Bornia, Alex Bornia.
    </footer>
</body>


</html>

