<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musica</title>
    <link rel="stylesheet" href="style.css">
</head>
<body background-image: -webkit-linear-gradient(top, #AACFEF 0%, #FFFFFF 15%);>
    <div style="background-image: url(pngtree-music-note-border-png-image_8796712.png);background-size: contain;">
        <header><h1>Musica</h1></header>
        <div class="menu">
            <div class="b"><a href="indice" id="Indice">Indice</a></div>
            <div class="b"><a href="film" id="Film">Film</a></div>
            <div class="b"><a href="musica" id="Musica">Musica</a></div>
        </div>
        <h3>Qui ci sono le 10 canzoni con più ascolti in assoluto su Spotify</h3>
        <div class="tabella">
            <table>
                <tr>
                    <th>1</th>
                    <th> Ed Sheeran – “Shape Of You’”</th>
                    <th><a href="https://www.youtube.com/watch?v=JGwWNGJdvx8" target="_blank" rel="noopener noreferrer" >
                        <img src="https://i.ytimg.com/vi/JGwWNGJdvx8/sddefault.jpg" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>2</th>
                    <th> Drake – “One Dance”</th>
                    <th><a href="https://www.youtube.com/watch?v=ki0Ocze98U8" target="_blank" rel="noopener noreferrer">
                        <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/07/02/15/drake-one-dance.jpg?width=1200" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>3</th>
                    <th>The Chainsmokers, Halsey – “Closer”</th>
                    <th><a href="https://www.youtube.com/watch?v=PT2_F-1esPk" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ytimg.com/vi/u-YGV5xt-jk/maxresdefault.jpg" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>4</th>
                    <th>Post Malone – “rockstar” (feat. 21 Savage)</th>
                    <th><a href="https://www.youtube.com/watch?v=UceaB4D0jpo" target="_blank" rel="noopener noreferrer">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKgKYIY0369JfHMb_T-VliF2gr_4uzuiF0lA&s" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>5</th>
                    <th> Ed Sheeran – “Thinking Out Loud”</th>
                    <th><a href="https://www.youtube.com/watch?v=lp-EO5I60KA" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ytimg.com/vi/WpyfrixXBqU/maxresdefault.jpg" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>6</th>
                    <th>Major Lazer, MØ, DJ Snake – “Lean On”</th>
                    <th><a href="https://www.youtube.com/watch?v=YqeW9_5kURI" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ytimg.com/vi/YqeW9_5kURI/maxresdefault.jpg" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>7</th>
                    <th>Luis Fonsi, Daddy Yankee, Justin Bieber – “Despacito – Remix’”</th>
                    <th><a href="https://www.youtube.com/watch?v=bI3x6Orv1UI" target="_blank" rel="noopener noreferrer">
                        <img src="https://i1.sndcdn.com/artworks-000221223347-uqyq6n-t500x500.jpg" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>8</th>
                    <th> Justin Bieber – “Love Yourself”</th>
                    <th><a href="https://www.youtube.com/watch?v=oyEuk8j8imI" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.scdn.co/image/ab67616d0000b273c34f510fcf86aae4aad9c305" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>9</th>
                    <th> Justin Bieber – “Sorry”</th>
                    <th><a href="https://www.youtube.com/watch?v=fRh_vgS2dFE" target="_blank" rel="noopener noreferrer">
                        <img src="https://i.ytimg.com/vi/fRh_vgS2dFE/sddefault.jpg" alt="">
                    </a></th>
                </tr>
                <tr>
                    <th>10</th>
                    <th> The Chainsmokers – “Don’t Let Me Down”</th>
                    <th><a href="https://www.youtube.com/watch?v=Io0fBr1XBUA" target="_blank" rel="noopener noreferrer">
                        <img src="https://upload.wikimedia.org/wikipedia/en/4/44/Don%27t_Let_Me_Down_%28featuring_Daya%29_%28Official_Single_Cover%29_by_The_Chainsmokers.png" alt="">
                    </a></th>
                </tr>     
                
            </table>
        </div>
        <footer>
            Sito fatto da Bornia, Alex Bornia.
        </footer>
    </div>
</body>
<script src="script.js"></script>
</html>

